<div class="topnav bg-secondary">
  <a class="navbar-brand" href="">
    <img src="../../../assets/logo.jpg" alt="Logo" style="width: 30px" />
  </a>
  <a class="nav-link text-white" href="" routerLink="/EnvoyerReclamation"
    >reclamer un logiciel</a
  >
  <a class="nav-link text-white" href="" routerLink="/ReclamationEnvoyees"
    >reclamations envoyées</a
  >
  <div class="topnav-right">
    <a href="#client">client</a>
    <a href="../index.HTML">Deconnexion</a>
  </div>
</div>
<div class="container bg-light">
  <br /><br />
  <div class="row offset-2 text-secondary">
    <h4>Reclamations envoyées :</h4>
  </div>
  <br />
  <div class="row offset-2">
    <div class="card text-secondary w-75">
      <div class="card-body">
        <h5 class="card-title">Nom logiciel</h5>
        <p class="card-text">--Description reclamation--</p>
        <div align="center">
          <button type="button" class="btn btn-outline-secondary">
            consulter PV
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row offset-2">
    <div class="card text-secondary w-75">
      <div class="card-body">
        <h5 class="card-title">Nom logiciel</h5>
        <p class="card-text">--Description reclamation--</p>
        <div align="center">
          <button type="button" class="btn btn-outline-secondary">
            consulter PV
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div align="center">
    <button type="button" class="btn btn-lg btn-outline-secondary">
      Actualiser
    </button>
  </div>
  <br />
  <br />
</div>
<div class="bg-secondary">
  <div class="row">
    <div class="offset-3">
      <h5 class="text-white">
        Address: Rue 8368 -bloc A- Espace El Aziz, lot Ennassim - Montplaisir-
        1073 Tunis TUNISIE
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="offset-3">
      <h5 class="text-white">Tél : +216.71.95.12.48 Fax : +216.71.95.10.44</h5>
    </div>
  </div>
  <div class="row">
    <div class="offset-3">
      <h5 class="text-white">
        Email : arabsoft@arabsoft.com.tn marketing@arabsoft.com.tn
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="offset-3">
      <h5 class="text-white">
        follow us :
        <span>
          <a href="https://www.facebook.com">
            <img src="../../../assets/facebook.png" alt="Logo" />
          </a>
        </span>

        <span
          ><a href="https://www.linkedin.com/feed/r">
            <img src="../../../assets/linkedin (2).png" alt="Logo" />
          </a>
        </span>
        <span
          ><a href="https://www.skype.com/fr/">
            <img src="../../../assets/skype.png" alt="Logo" /> </a
        ></span>
        <span
          ><a href="http://www.arabsoft.com.tn/contactez-nous1">
            <img src="../../../assets/gmail.png" alt="Logo" /> </a
        ></span>
      </h5>
    </div>
  </div>
</div>
