/* You can add global styles to this file, and also import other style files */
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: gray;
  color: black;
}

.topnav-right {
  float: right;
}
.center {
  display: flex;
  justify-content: center;
}
